# Compiled Source #
###################
*.pyc

# ignore vim swap files
*.*.swp

# ignore Aptana project files
.project
.pydevproject

# ignore my experimental directories
serv
serv/*
web
web/*

# ignore experimental Python file
testing.py

# ignore progress files that I make for myself
TODO

# for now, ignore autosaves
saves/autosaves/*.json